:root{
    /* --primary-bg: rgb(123, 181, 172); */
    /* --primary-bg: #3078e3; */
    /* Backgrounds */
    --primary-bg: #193e6a;
    --secondary-bg: #8dbac7;
    --light-primary-bg: #193e6a2a;
    --light-secondary-bg: #8dbac77a;
    /* Colors */
    --primary-color: #193e6a;
    --secondary-color: #8dbac7;

}
@font-face{
    font-family: Tajwal-font;
    src: url(/font/Tajawal-Medium.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tajwal-font;
}
/*Fonts*/
.font10{
    font-size: 10px;
}
.font13{
    font-size: 13px;
}
.font15{
    font-size: 15px;
}
.font20{
    font-size: 20px;
}
.font30{
    font-size: 30px;
}
/* Colors */
.primary-bg{
    background-color: var(--primary-bg);
}
.light-primary-bg{
    background-color: var(--light-primary-bg);
}
.secondary-bg{
    background-color: var(--secondary-bg);
}
.light-secondary-bg{
    background-color: var(--light-secondary-bg);
}

a{
    all: unset;
}
a:hover{
    cursor: pointer;
    color: initial;
}

.light-bg{
    background-color: #eaecee;
}

/* Styles */
#form{
    display: none;
    
}
.content-container{
    display: flex;
    min-height: 700px;
}
.content-container .right-side{
    max-width: 50%;
    flex-wrap: wrap;
    /* border-left: 1px solid rgb(185, 186, 193); */
}
.content-container .left-side{
    max-width: 50%;
    flex-wrap: wrap;
}
.max-h-50{
    max-height: 300px;
}
.radius-5{
    border-radius: 5px;
}
.radius-100{
    border-radius: 100%;
    padding: 10px;
}
.min-h-300px{
    min-height: 300px;
}
.min-h-100{
min-height: 100%;
}